#root {
  margin: 0;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Add background color to the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #25252b;
}

/* Add color to the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #b2b2b2;
  border-radius: 5px;
}