#root {
  margin: 0;
}

@keyframes moveClockwise {
  0% { transform: translateY(0) rotate(0deg); }
  100% { transform: translateY(100px) rotate(360deg); }
}

@keyframes moveCounterclockwise {
  0% { transform: translateY(0) rotate(0deg); }
  100% { transform: translateY(-100px) rotate(-360deg); }
}

.animate-moveClockwise {
  animation: moveClockwise 2s linear infinite;
}

.animate-moveCounterclockwise {
  animation: moveCounterclockwise 4s linear infinite;
}
